<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    <form th:action="@{/login}" method="post">
        <span th:if="${error}" th:text="${msg}" style="color: red"></span>
        <br>
        <label>
            用户名:
            <input name="username" type="text">
        </label>
        <br>
        <label>
            密码:
            <input name="password" type="password">
        </label>
        <br>
        <div>
            <input type="text" class="form-control" name="verifyCode" required="required" placeholder="验证码">
            <img src="getVerifyCode" title="看不清，请点我" onclick="refresh(this)" onmouseover="mouseover(this)" />
        </div>
        <br>
        <div>
            <label><input type="checkbox" name="remember-me"/>自动登录</label>
            <button type="submit">立即登陆</button>
        </div>
    </form>
</div>
</body>
</html>
<script>
    function refresh(obj) {
        obj.src = "getVerifyCode?" + Math.random();
    }

    function mouseover(obj) {
        obj.style.cursor = "pointer";
    }
</script>